#about-me {
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
}

#about-me h2 {
    color: #333;
    font-size: 24px;
}

#about-me p {
    color: #666;
    font-size: 16px;
}

#icon img {
    text-align: center;
    margin-left: 25px;
    width: 160px;
    height: 160px;
}

#icon {
    display: flex;
    justify-content: center;
    align-items: center;
}